<mat-sidenav-container class="sidenav-container">
  <!-- Side Navigation -->
  <mat-sidenav #sidenav mode="side" opened>
    <!-- Logo Section -->
    <div class="logo-container">
      <img src="../../../../assets/logo 1.png" alt="Nutri Paws" class="logo">
    </div>

    <mat-nav-list>
      <a mat-list-item routerLink="/order-payments" routerLinkActive="active-link">
        <mat-icon>dashboard</mat-icon> Dashboard
      </a>
      <!-- <a mat-list-item routerLink="/manage-inventory" routerLinkActive="active-link">
          <mat-icon>inventory</mat-icon>Inventory Details
        </a> -->

      <a mat-list-item (click)="showPayments = !showPayments">
        <mat-icon>credit_card</mat-icon>Payment Details
        <mat-icon class="expand-icon">{{ showPayments ? 'expand_less' : 'expand_more' }}</mat-icon>
      </a>
      <div *ngIf="showPayments" class="sub-nav">
        <a mat-list-item routerLink="/customer-payments" routerLinkActive="active-link">
          <mat-icon>hourglass_empty</mat-icon> Customer Payments
        </a>
        <a mat-list-item routerLink="/supplier-payments" routerLinkActive="active-link">
          <mat-icon>check_circle</mat-icon> Supplier pyments
        </a>
      </div>

      <!-- <a mat-list-item routerLink="/user-roles" routerLinkActive="active-link">
        <mat-icon>supervised_user_circle</mat-icon>User Roles
      </a> -->

      <a mat-list-item routerLink="/system-users" routerLinkActive="active-link">
        <mat-icon>supervised_user_circle</mat-icon>System Users
      </a>

      <!-- <a mat-list-item routerLink="/order-details" routerLinkActive="active-link">
        <mat-icon>format_list_bulleted</mat-icon>Order Details
      </a> -->

      <a mat-list-item (click)="showSubOrders = !showSubOrders">
        <mat-icon>format_list_bulleted</mat-icon> Order Details
        <mat-icon class="expand-icon">{{ showSubOrders ? 'expand_less' : 'expand_more' }}</mat-icon>
      </a>
      <div *ngIf="showSubOrders" class="sub-nav">
        <a mat-list-item routerLink="/customer-orders-new" routerLinkActive="active-link">
          <mat-icon>hourglass_empty</mat-icon> Customer Orders
        </a>
        <a mat-list-item routerLink="/supplier-orders-new" routerLinkActive="active-link">
          <mat-icon>check_circle</mat-icon> Supplier Orders
        </a>
      </div>


      <a mat-list-item routerLink="/order-categories" routerLinkActive="active-link">
        <mat-icon>category</mat-icon>Order Categories
      </a>

      <a mat-list-item routerLink="/item-list" routerLinkActive="active-link">
        <mat-icon>list</mat-icon>Items
      </a>

      <a mat-list-item routerLink="/admin-reports" routerLinkActive="active-link">
        <mat-icon>reports</mat-icon>Reports
      </a>

      <!-- <a mat-list-item routerLink="/reviews" routerLinkActive="active-link">
            <mat-icon>rate_review</mat-icon>Reviews
        </a> -->

      <a mat-list-item (click)="logout()" routerLinkActive="active-link">
        <mat-icon>exit_to_app</mat-icon> Logout
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Order & Payment Management</span>

      <span class="spacer"></span> <!-- Pushes the next icons to the right -->

      <!-- <button mat-icon-button aria-label="Cart" (click)="openCart()">
          <mat-icon>shopping_cart</mat-icon>
        </button> -->

      <span class="spacer"></span> <!-- Pushes the next icons to the right -->

      <button mat-icon-button aria-label="Notifications" (click)="openNotification()">
        <mat-icon>notifications</mat-icon>
        <span *ngIf="showNotificattionDot" class="blinking-dot"></span>
      </button>

    </mat-toolbar>
    <div class="content">
      <div class="container">
        <!-- First Row: Inventory Details -->
        <div class="row">
          <div class="col-12">
            <mat-card class="inventory-card">
              <mat-card-header>
                <mat-card-title>Customer Orders</mat-card-title>

              </mat-card-header>
              <mat-card-content>
                <p>All Orders Summery Goes here</p>
                <div class="row">
                  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">

                    <!-- Mobile Number Column -->
                    <ng-container matColumnDef="mobile_no">
                      <th mat-header-cell *matHeaderCellDef> Mobile </th>
                      <td mat-cell *matCellDef="let item"> {{ item.mobile_no }} </td>
                    </ng-container>

                    <!-- Address Column -->
                    <ng-container matColumnDef="address">
                      <th mat-header-cell *matHeaderCellDef> Address </th>
                      <td mat-cell *matCellDef="let item"> {{ item.address }} </td>
                    </ng-container>

                    <!-- Item Count Column -->
                    <ng-container matColumnDef="itemCount">
                      <th mat-header-cell *matHeaderCellDef> Item Count </th>
                      <td mat-cell *matCellDef="let item"> {{ item.itemCount }} </td>
                    </ng-container>

                    <!-- Status Column -->
                    <ng-container matColumnDef="status">
                      <th mat-header-cell *matHeaderCellDef> Status </th>
                      <td mat-cell *matCellDef="let item"> {{ item.status }} </td>
                    </ng-container>

                    <!-- Table Header and Rows -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                  </table>
                  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

                </div>

              </mat-card-content>

            </mat-card>
          </div>
        </div>

        <!-- Second Row: In-House Orders & Customer Orders -->
        <div class="row">
          <!-- In-House Orders Card -->
          <div class="col-6">
            <mat-card class="order-card">
              <mat-card-header>
                <mat-card-title>Payments</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p>Payment List goes here...</p>
                <table mat-table [dataSource]="inHousePaymentsDataSource" class="mat-elevation-z8"
                  style="width: 100%; margin-top: 20px;">

                  <!-- Order ID Column -->
                  <ng-container matColumnDef="orderId">
                    <th mat-header-cell *matHeaderCellDef> Order ID </th>
                    <td mat-cell *matCellDef="let payment"> {{ payment.orderId }} </td>
                  </ng-container>

                  <!-- Mobile Column -->
                  <ng-container matColumnDef="mobile">
                    <th mat-header-cell *matHeaderCellDef> Mobile </th>
                    <td mat-cell *matCellDef="let payment"> {{ payment.mobile }} </td>
                  </ng-container>

                  <!-- Address Column -->
                  <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef> Address </th>
                    <td mat-cell *matCellDef="let payment"> {{ payment.address }} </td>
                  </ng-container>

                  <!-- Price Column -->
                  <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef> Price (Rs.) </th>
                    <td mat-cell *matCellDef="let payment"> Rs. {{ payment.price }} </td>
                  </ng-container>

                  <!-- Status Column -->
                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let payment"> {{ payment.status }} </td>
                  </ng-container>

                  <!-- Table Header and Rows -->
                  <tr mat-header-row *matHeaderRowDef="inHouseDisplayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: inHouseDisplayedColumns;"></tr>


                </table>
                <button mat-raised-button color="primary" class="view-more-button">View More</button>
              </mat-card-content>

            </mat-card>
          </div>

          <!-- Customer Orders Card -->
          <div class="col-6">
            <mat-card class="order-card">
              <mat-card-header>
                <mat-card-title>Return Orders</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p>Return orders go here...</p>
                <table mat-table [dataSource]="returnedOrdersDataSource" class="mat-elevation-z8"
                  style="width: 100%; margin-top: 20px;">

                  <!-- Image Column -->
                  <ng-container matColumnDef="mobile">
                    <th mat-header-cell *matHeaderCellDef> Mobile </th>
                    <td mat-cell *matCellDef="let order"> {{ order.mobile_no }} </td>
                  </ng-container>

                  <!-- Customer Name Column -->
                  <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef> Address </th>
                    <td mat-cell *matCellDef="let order"> {{ order.address }} </td>
                  </ng-container>

                  <!-- Item Name Column -->
                  <ng-container matColumnDef="itemName">
                    <th mat-header-cell *matHeaderCellDef> Item </th>
                    <td mat-cell *matCellDef="let order"> {{ order.itemCount }} </td>
                  </ng-container>

                  <!-- Status Column -->
                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let order"> {{ order.status }} </td>
                  </ng-container>

                  <!-- Header & Rows -->
                  <tr mat-header-row *matHeaderRowDef="returnedOrdersDisplayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: returnedOrdersDisplayedColumns;"></tr>

                </table>

              </mat-card-content>
              <button mat-raised-button color="primary" class="view-more-button" routerLink="/customer-orders-new">View
                More</button>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
