.full-width {
    width: 100%;
    margin-bottom: 10px;
  }

  .center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

.mat-card-custom {
  width: 400px; /* Adjust width as needed */
  padding: 20px;
}

  