<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened>
    <!-- Logo Section -->
    <div class="logo-container">
      <img src="../../../../assets/logo 1.png" alt="Nutri Paws" class="logo">
    </div>

    <mat-nav-list>
      <a mat-list-item routerLink="/order-payments" routerLinkActive="active-link">
        <mat-icon>dashboard</mat-icon> Dashboard
      </a>

      <a mat-list-item (click)="showPayments = !showPayments">
        <mat-icon>credit_card</mat-icon>Payment Details
        <mat-icon class="expand-icon">{{ showPayments ? 'expand_less' : 'expand_more' }}</mat-icon>
      </a>
      <div *ngIf="showPayments" class="sub-nav">
        <a mat-list-item routerLink="/customer-payments" routerLinkActive="active-link">
          <mat-icon>hourglass_empty</mat-icon> Customer Payments
        </a>
        <a mat-list-item routerLink="/supplier-payments" routerLinkActive="active-link">
          <mat-icon>check_circle</mat-icon> Supplier pyments
        </a>
      </div>

      <a mat-list-item routerLink="/system-users" routerLinkActive="active-link">
        <mat-icon>supervised_user_circle</mat-icon>System Users
      </a>


      <a mat-list-item (click)="showSubOrders = !showSubOrders">
        <mat-icon>format_list_bulleted</mat-icon> Order Details
        <mat-icon class="expand-icon">{{ showSubOrders ? 'expand_less' : 'expand_more' }}</mat-icon>
      </a>
      <div *ngIf="showSubOrders" class="sub-nav">
        <a mat-list-item routerLink="/customer-orders-new" routerLinkActive="active-link">
          <mat-icon>hourglass_empty</mat-icon> Customer Orders
        </a>
        <a mat-list-item routerLink="/supplier-orders-new" routerLinkActive="active-link">
          <mat-icon>check_circle</mat-icon> Supplier Orders
        </a>
      </div>


      <a mat-list-item routerLink="/order-categories" routerLinkActive="active-link">
        <mat-icon>category</mat-icon>Order Categories
      </a>

      <a mat-list-item routerLink="/item-list" routerLinkActive="active-link">
        <mat-icon>list</mat-icon>Items
      </a>

      <!-- <a mat-list-item routerLink="/reviews" routerLinkActive="active-link">
              <mat-icon>rate_review</mat-icon>Reviews
          </a> -->

      <a mat-list-item (click)="logout()" routerLinkActive="active-link">
        <mat-icon>exit_to_app</mat-icon> Logout
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Item List</span>

      <span class="spacer"></span> <!-- Pushes the next icons to the right -->

      <!-- <button mat-icon-button aria-label="Cart" (click)="openCart()">
        <mat-icon>shopping_cart</mat-icon>
      </button> -->

    </mat-toolbar>
    <div class="item-grid-container">
      <div class="item-grid">
        <div class="item-card" *ngFor="let item of itemList" (click)="showItemPopup(item)">
          <img [src]="getImageUrl(item.emgUrl)" alt="{{item.itemName}}" />
          <h3>{{item.itemName}}</h3>
          <p>{{item.description}}</p>
          <span class="price">Rs {{item.price}}</span>

          <!-- Add to Cart Button (only shown when logged in) -->
          <button mat-raised-button color="primary" class="add-to-cart-btn">
            <mat-icon>add_shopping_cart</mat-icon>
            Add to Cart
          </button>

          <!-- Login Prompt (shown when not logged in) -->


        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
