  

  .container {
    padding: 20px;
  }
  
  .heading {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  
  .table-container {
    margin: 20px;
    padding: 10px;
  }
  
  mat-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  mat-header-cell, mat-cell {
    padding: 8px;
    text-align: left;
  }
  
  .mat-sort-header-sorted {
    color: #3f51b5;
  }
  
  .mat-header-row {
    background-color: #f1f1f1;
  }
  